{% extends 'base.html.twig' %}
{% block body %}
        <h1>Add promotion</h1>
        <div class="well">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">Add</button>
            {{ form_end(form) }}
            <br>
            <a href="{{ path('admin_promotions_all') }}" type="button" class="btn btn-default">Back</a>
        </div>
{% endblock %}
