{% extends 'base.html.twig' %}

{% block main %}
    {% include "_admin_sidebar.html.twig" %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}
            {{ form_row(form.image) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.price) }}
            {{ form_row(form.isListed) }}
            {{ form_row(form.promotions) }}

            <button class="btn btn-success">Add</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('css/admin_sidebar.css') }}" rel="stylesheet">
{% endblock %}