{% extends 'base.html.twig' %}

{% block body %}
        <div class="well">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}
            {{ form_row(form.image) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.price) }}
            {{ form_row(form.isListed) }}
            {{ form_row(form.promotions) }}

            <button class="btn btn-success">Add</button>

            {{ form_end(form) }}
        </div>

{% endblock %}
