<div class="sidenav">
    <ul class="nav sidebar-nav">
        <li><a href="{{ path('categories_products') }}">All Products</a></li>
        <li><a href="{{ path('product_add') }}">Add Product</a></li>
        <li><a href="{{ path('add_initial_cash') }}">Set Initial Cash</a></li>
        <li><a href="{{ path('category_add') }}">Add Category</a></li>
        <li><a href="{{ path('set_owner') }}">Set Shop Owner</a></li>
        <li><a href="{{ path('admin_show_all_orders',{'param':'all'}) }}">Show Orders</a></li>
    </ul>
</div>