{% extends 'base.html.twig' %}

{% block main %}
    {% include "_admin_sidebar.html.twig" %}
    <a href="{{ path('admin_show_all_orders',{'param':'complete'}) }}">Show All Completed Orders</a> |
    <a href="{{ path('admin_show_all_orders',{'param':'pending'}) }}">Show All Pending Orders</a> |
    <a href="{{ path('admin_show_all_orders',{'param':'declined'}) }}">Show All Declined Orders</a> |
    <a href="{{ path('admin_show_all_orders',{'param':'all'}) }}">Show All Orders</a>

    <h1>{{ label }} users orders</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <th>#id</th>
                        <th>Products Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Total Price</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var order \ShopBundle\Entity\Order#}
                    {% for order in orders %}
                        <td>#{{ order.id }} </td>
                        <td>
                            <ul>
                                {% for product in order.products %}
                                    <a href="{{ path('product_details', {'slug': product.product.slug}) }}">
                                        <ul>
                                            <li>{{ product.product.name }}</li>
                                        </ul>
                                    </a>
                                    <p>Quantity: {{ product.quantity }}</p>
                                    <p>Price: {{ product.price }}</p>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.user.email }} </td>
                        <td>{{ order.dateCreated|date }} </td>
                        <td>{{ order.total }} </td>
                        <td>
                            {% if order.status.name=='Complete' %}
                                <span class="label label-success">Completed</span>
                            {% elseif order.status.name=='Open' %}
                                <span class="label label-default">Open</span>
                            {% else %}
                                <form method="post" action="{{ path('admin_order_complete', {'id': order.id}) }}">
                                    <p class="label label-info">Pending</p> /
                                    <button class="btn btn-success btn-xs" type="submit">Complete order</button>
                                </form>
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('css/admin_sidebar.css') }}" rel="stylesheet">
{% endblock %}