{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_start(form,{'attr':{'class' : 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.initialCash, 'Add Cash: ') }}
                        {{ form_widget(form.initialCash, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

