{% extends 'base.html.twig' %}

{% block main %}

    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}"> <br>
    {{ product.name }} <br>
    Description: {{ product.description }} <br>
    Available: {{ product.quantity }} <br>
    Price: {{ product.price|number_format(2) }} <br>
    Rating: {{ product.averageRating }} <br>

    <form method="post" action="{{ path("cart_add", {'id':product.id}) }}" style="display: inline-block">
        <label for="product_quantity"> Choice quantity:
            <select name="product_quantity">
                {% for quantity in range(1,product.quantity) %}
                    <option value="{{ quantity }}">{{ quantity }}</option>
                {% endfor %}
            </select>
        </label>
        <br>

        {% if app.user.isAdmin or app.user.isEditor %}

            <a href="#">Edit</a>
        {% else %}
            <input type="submit" class="btn btn-primary" value="Add To Cart"/>
        {% endif %}
    </form>

    <h1>Edit your Review</h1>
    {{ form_start(review_add, {'action': path('product_edit_review', {'id': review.id}), 'method': 'POST'}) }}
    {{ form_row(review_add.body) }}
    {{ form_row(review_add.rating) }}

    <button type="submit" class="btn btn-warning" formnovalidate>Edit Review</button>
    {{ form_end(review_add) }}

{% endblock %}

