{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default col-sm-9">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><i class="fa fa-shopping-cart"></i> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{ path('homepage') }}" type="button"
                                   class="btn btn-primary btn-sm btn-block">
                                    Continue shopping
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if order is null %}
                <h3 class="text-center">Your cart is empty</h3>
                {% else %}
                <div class="panel-body">

                    {# @var product \ShopBundle\Entity\OrdersProducts#}
                    {% for product in order.products %}
                        <div class="row">
                            <div class="col-xs-2">
                                <a href="{{ path('product_details',{'slug':product.product.slug}) }}"> <img
                                            src="{{ asset('uploads/images/' ~ product.product.image) }}"
                                            alt="{{ product.product.name }}" width="400" height="200"></a>
                            </div>
                            <div class="col-xs-4 pull-right">

                                <a href="{{path('product_details',{'slug':product.product.slug})}}"> <h2>{{ product.product.name }}</h2></a>
                                {% if product.product.activePromotion %}
                                    <p>Price: <s>{{ product.product.originalPrice|number_format(2) }}</s></p>
                                    <p>Price: {{ product.product.price|number_format(2) }}</p>
                                    <p>Promotion active
                                        till: {{ product.product.biggestActivePromotion.endDate|date }}</p>
                                {% else %}
                                    <p>
                                        Price: {{ product.product.price|number_format(2) }}
                                    </p>
                                {% endif %}
                                <form method="post" action="{{ path("cart_edit", {'id':product.id}) }}"
                                      style="display: inline-block">
                                    <label for="product_quantity"> Edit quantity:
                                        <select name="product_quantity">
                                            {% for quantity in range(1,product.product.quantity) %}
                                                <option value="{{ quantity }}"{% if product.quantity ==quantity %}
                                                    selected="selected"
                                                        {% endif %}>{{ quantity }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <input type="submit" class="btn btn-primary" value="Edit Quantity"/>
                                </form>
                                <form method="post" action="{{ path('cart_remove', {'id':product.id}) }}"
                                      style="display: inline-block">
                                    <input type="submit" class="btn-sm btn-danger" value="Remove"/>
                                </form>
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                    <h3>TOTAL: {{ total|number_format(2) }}</h3>

                    <a href="{{ path('cart_checkout') }}" class="btn btn-primary btn-lg active">Check Out</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

