{% extends 'base.html.twig' %}

{% block main %}
    {% if order is null %}
        <h2>Your cart is empty</h2>
    {% else %}

        {# @var product \ShopBundle\Entity\OrdersProducts#}
        {% for product in order.products %}
            <div>
                <a href="{{ path('product_details',{'slug':product.product.slug}) }}"> <img
                            src="{{ asset('uploads/images/' ~ product.product.image) }}"
                            alt="{{ product.product.name }}" width="400" height="200"></a>
                <h2>{{ product.product.name }}</h2>
                <h4>Price: {{ product.product.price }}</h4>
                <form method="post" action="{{ path("cart_edit", {'id':product.id}) }}" style="display: inline-block">
                    <label for="product_quantity"> Edit quantity:
                        <select name="product_quantity">
                            {% for quantity in range(1,product.product.quantity) %}
                                <option value="{{ quantity }}"{% if product.quantity ==quantity %}
                                    selected="selected"
                                        {% endif %}>{{ quantity }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <input type="submit" class="btn btn-primary" value="Edit"/>
                </form>
                <form method="post" action="{{ path('cart_remove', {'id':product.id}) }}" style="display: inline-block">
                    <input type="submit" class="btn-sm btn-danger" value="Remove"/>
                </form>

            </div>
        {% endfor %}
        <h3>TOTAL: {{ total }}</h3>

        <a href="{{ path('cart_checkout') }}" class="btn btn-primary btn-lg active">Check Out</a>

    {% endif %}
    <a href="{{ path('homepage') }}" class="btn btn-primary btn-sm active">Back to shop</a>


{% endblock %}

