{% extends 'base.html.twig' %}

{% block main %}

    {% if products is not empty %}
        <h2>Your products:</h2>
        {% for name,item in products %}
            <div>
                <h3>You bought {{ name }} {{ item|length }} time{{ (item|length>1) ? 's':'' }}</h3>
                <a href="{{ path('product_details',{'slug':item[0].product.slug}) }}"><img src="{{ asset('uploads/images/' ~ item[0].product.image) }}" alt="{{ item[0].product.name }}" width="400" height="200"></a>
                {% set totalSpentOnProduct = 0.00 %}
                {# @var value \ShopBundle\Entity\SoldProduct#}
                {% for value in item %}

                    <p>Bough quantity: {{ value.quantity }}</p>
                    <p>Price: {{ value.price }}</p>
                    <p>Total price: {{ value.price * value.quantity|number_format(2) }}</p>
                    {% set totalSpentOnProduct =totalSpentOnProduct+ value.price %}
                    <hr>
                {% endfor %}
                <strong>Total spent for {{ name }} : {{ totalSpentOnProduct }}</strong>
                <hr>

            </div>
        {% endfor %}
        <h4><strong>Total spent on shop: {{ app.user.moneySpent|number_format(2) }}</strong></h4>

    {% else %}
        <h2>You don't have any products yet</h2>
    {% endif %}

{% endblock %}

{% block body_id %}

{% endblock %}

