{% extends 'base.html.twig' %}

{% block body %}
        <div class="well">
            <div class="row">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.initialCash, 'Add Cash: ') }}
                        {{ form_widget(form.initialCash)}}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}


