{% extends 'base.html.twig' %}

{% block main %}
    {% include "_admin_sidebar.html.twig" %}
    <div class="well">
        {# @var category \ShopBundle\Entity\Category#}
        {% for category in categories %}
            <h3>Category: {{ category.name }}</h3>

            {# @var product \ShopBundle\Entity\Product#}
            {% for product in category.products %}
                {% if product.owner.username==app.user.username %}
                    <div class="product">
                    <a href="{{ path('product_details',{'id':product.id}) }}"><h4> {{ product.name }}</h4></a>
                    {% if product.isListed==1 %}
                        <span class="label label-success">In Stock</span>
                    {% else %}
                        <span class="label label-danger">Out of Stock</span>
                    {% endif %}
                    <p>Available Quantity: {{ product.quantity }}</p>
                    <p>Price: {{ product.price }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('css/admin_sidebar.css') }}" rel="stylesheet">
{% endblock %}

