{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="container body-content">
                <div class="row">
                    {# @var product \ShopBundle\Entity\Product#}
                    {% for product in products %}
                        <div class="col-md-6">
                            <a><img src="{{ product.image }}" width="400" height="200"  alt="{{ product.name }}"></a>
                            <header>
                                <h2>{{ product.name }}</h2>
                            </header>

                            <p>
                                Price: {{ product.price }}
                            </p>

                            <p>
                                Available :{{ product.quantity }}
                            </p>

                            <small class="author">
                               Sold by:  {{ product.owner.fullName }}
                            </small>
                            <a href="{{ path('product_details',{'id':product.id}) }}" class="btn btn-primary btn-sm">Details</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
