<h1>{{ user.fullName }} with email {{ user.email }} made an order No. {{ order.id }}. Please take an action!</h1>
{# @var order \ShopBundle\Entity\Order #}
<h4>Order Id: {{ order.id }} created on {{ order.dateCreated|date("d/m/Y") }} with
    status {{ order.status.name }}</h4>
<table border="1px">
    <tr>
        <th>Product</th>
        <th>Bought Quantity</th>
        <th>Total price for this product</th>
    </tr>
    {% for product in order.products %}
        <tr>
            <td>{{ product.product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.productTotalPrice|number_format(2) }}</td>
        </tr>
    {% endfor %}
</table>
<p><strong>Total price: {{ order.total|number_format(2) }} </strong></p>
<hr/>